@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
}

@mixin bp-tablet {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin bp-mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin xd-font-size($font-size) {
    font-size: ($font-size/15) + rem;
}

@mixin xd-font-size-important($font-size) {
    font-size: ($font-size/15) + rem !important;
}

@mixin transition() {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-transition: all 300ms;
}

@mixin reset-button() {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    
    border-style: none;
    border-width: 0;
    border-color: initial;
    background-color: initial;
    &:hover {
        background-color: initial;
    }
}