// Fonts
$playfairFont: 'Playfair Display';

$shimmer: 'Shimmer';

$faIcons: 'FontAwesome'; // Loaded using cdn 
$clIcons: 'cleversoft';

$proximaAltLt: 'Proxima Nova Alt Lt';
$proximaAltTh: 'Proxima Nova Alt Th';
$proximaAltRg: 'Proxima Nova Alt Rg';
$proximaRegular: 'Proxima Nova Rg';
$proximaTh: 'Proxima Nova Th';
$proximaBl: 'Proxima Nova Bl';

// Colors
$link-hover: #dcb53f;
$inputFocus: #eacd76;
$white: #fff;
$yellow: #EACD76;
$orange: $link-hover;
$grey: #575756;
$brown: #28140C;
$white-dark: #FAFAFA;
$white-darker: #EEEEEE;
$black: #0A0A0A;
$green: #052F21;
$green-hover:#0d4e39;
$green-lighter: #1C3527;

$background-color-light: $white;
$background-color-dark: $black;
$background-color-green: $green;

$background-sidebar-birra: #D7A72D;

$text-color-dark: $grey;
$text-color-light: $white-darker;

$highlight: $yellow;
$menu: $brown;

$form-text-color: $white-dark;

// WooCommerce
$product-border-color: $white-darker;
$product-pre-title-color: $brown;
$product-olio-sidebar: #104633;
$product-title-color: #104633;
$product-price-color: #104633;
$product-variation-color: $grey;
$product-variation-border-color: $white-darker;
$product-brand-color: #28140C;
$product-sale-background-color: #FEC235;
$product-sale-text-color: #104633;
$product-vino-color: #28140C;
$product-product-not-available-badge: #FF3202;