<div style="background-color: #f7f7f7; padding-bottom: 50px; padding-top: 25px; text-align: center; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">
    <img style="padding: 10px;" src="https://store.farchioni1780.com/wp-content/uploads/2020/09/logo-farchioni-email.png" />
    <div style="background-color: #154632; max-width: 600px; margin: auto; padding: 36px 49px; border: 1px solid #dedede; border-bottom: 0;">
        <h1 style="text-align: left; color: #fff; font-size: 30px; font-weight: 300; margin:0; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;">Confermi la richiesta di Account Professional</h1>
    </div>
    <div style="background-color: #fff; max-width: 600px; margin: 0 auto; padding: 48px 48px; border: 1px solid #dedede; border-bottom: 0; border-top: 0; color: #636363; font-size: 14px; text-align: left; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">
        Salve {Nome (Nome):1.3},<br>
        <br>
        <strong>Grazie per aver richiesto l'iscrizione in qualità di Professional allo Store Farchioni1780.</strong><br>
        <br>
        <strong>Per attivare il tuo account segui <a href="{activation_url}">questo link</a></strong><br>
        <br>
        Una volta attivo il nostro staff prenderà in carico la sua richiesta nell'arco di 48 ore.<br>
        Quando la sua richiesta sarà approvata, potrà accedere ai prodotti e alle scontistiche riservate ai Professional direttamente nel negozio online.<br>
        <br>
        Se non visualizzi correttamente l'email utilizza il seguente link per attivare il tuo account:<br>
        {activation_url}<br>
    </div>
    <div style="background-color: #ffffff; max-width: 600px; margin: 0 auto; padding: 0 48px 48px 48px; border: 1px solid #dedede; border-top: 0; margin-bottom: 50px; text-align: center; color: #739084; font-size: 12px; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">Store Farchioni1780</div>
</div>
