<div style="background-color: #f7f7f7; padding-bottom: 50px; padding-top: 25px; text-align: center; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">
    <img style="padding: 10px;" src="https://store.farchioni1780.com/wp-content/uploads/2020/09/logo-farchioni-email.png" />
    <div style="background-color: #154632; max-width: 600px; margin: auto; padding: 36px 49px; border: 1px solid #dedede; border-bottom: 0;">
        <h1 style="text-align: left; color: #fff; font-size: 30px; font-weight: 300; margin:0; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;">Please confirm your Professional Account request</h1>
    </div>
    <div style="background-color: #fff; max-width: 600px; margin: 0 auto; padding: 48px 48px; border: 1px solid #dedede; border-bottom: 0; border-top: 0; color: #636363; font-size: 14px; text-align: left; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">
        Hello {Nome (Nome):1.3},<br>
        <br>
        <strong>Thank you for your request to register as a Professional at the Farchioni1780 Store.</strong><br>
        <br>
        <strong>To activate your account follow </strong><a href="{activation_url}"><strong>this link</strong></a><br>
        <br>
        Once active, our staff will process your request within 48 hours.<br>
        When your request is approved, you will be able to access all products and discounts reserved for Professionals directly in the online store.<br>
        <br>
        Problems with the email content? Use the following link to activate your account:<br>
        {activation_url}<br>
    </div>
    <div style="background-color: #ffffff; max-width: 600px; margin: 0 auto; padding: 0 48px 48px 48px; border: 1px solid #dedede; border-top: 0; margin-bottom: 50px; text-align: center; color: #739084; font-size: 12px; font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;"">Store Farchioni1780</div>
</div>