@font-face {
    font-family: 'Shimmer';
    src: url('ShimmerBold/ShimmerBold.woff2') format('woff2'),
        url('ShimmerBold/ShimmerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('PlayfairDisplay/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('ProximaNova/ProximaNovaA-Light.woff2') format('woff2'),
        url('ProximaNova/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova/ProximaNovaT-Thin.woff2') format('woff2'),
        url('ProximaNova/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('ProximaNova/ProximaNovaA-Thin.woff2') format('woff2'),
        url('ProximaNova/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('ProximaNova/ProximaNovaA-Bold.woff2') format('woff2'),
        url('ProximaNova/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova/ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova/ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

