/*per avere footer e header a filo*/
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "Proxima Nova", sans-serif !important;
}

/* il float lo usava mia nonna */
.wrap-single-product-content>.product{
	display: flex;
	flex-wrap: wrap;
}

/* idem come sopra */
.wrap-single-product-content.right-content-layout .wrap-single-product-images,
.wrap-single-product-content.right-content-layout .product > .summary{
	float: none;
}

/* boh */

.wrap-single-product-content.right-content-layout .product > .summary{
	padding: 30px;
}

@media (min-width: 768px){
	.wrap-single-product-content.right-content-layout .product > .summary{
		margin-left: 30px;
	}
}

/* boh */
.widget_shopping_cart_content {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: left;
	justify-content: space-between;
}

/* boh */
@media (min-width: 1400px){
	.single-product .container{
		max-width:1400px;
	}
}

body strong, body b {
  font-family: inherit !important;
}

/* font-family: "Proxima Nova", Sans-serif */
.product-availability-status,
.button,
.brand,
input.sib-default-btn,
.widget_product_search input,
.wrap-group-qty,
.center_variation_choose.header,
.quantity .header,
.grado_alcolico .header,
.variation_attribute,
.woocommerce .elementor-widget-sidebar .elementor-widget-container h4,
.woocommerce .elementor-widget-sidebar .widget_price_filter .price_label,
.woocommerce .elementor-widget-sidebar .widget_price_filter .button,
.woocommerce ul.products li.product div.farchioni-variation-cta span.variation a,
.woocommerce ul.products li.product .wrap-product-loop-detail h3.product-loop-title > a,
.woocommerce div.product .summary.entry-summary .single_variation_wrap small.woocommerce-price-suffix,
.elementor-cta__button.elementor-button,
body .elementor-menu-cart__container .elementor-menu-cart__main .cart_list .mini_cart_item .wrap-product-cart-detail .product-widget-title a,
body .elementor-menu-cart__container .elementor-menu-cart__main .cart_list .mini_cart_item .wrap-product-cart-detail .cart-detail,
.over_total .free-shipping-required-notice .zoo-loading-bar .label-free-shipping,
.cart_totals .free-shipping-required-notice .zoo-loading-bar .label-free-shipping,
body .elementor-menu-cart__container .elementor-menu-cart__main .wrap-bottom-mini-cart .total,
.elementor-118005 .elementor-element.elementor-element-cb4773a .elementor-button,
.elementor-top-section .elementor-text-editor,
.elementor-element.elementor-products-grid ul.products li.product .onsale,
.product-template-default .farchioni-brand,
body.product-template-default.single.farchioni-category-birra .product-pay-off,
.woocommerce form.woocommerce-form-register .form-row label {
	font-family: "Proxima Nova", sans-serif !important;
}
b, strong {
  font-weight: bold;
}

.wrap-breadcrumb {
	display: none !important;
}

.woocommerce .elementor-widget-sidebar .widget_price_filter .button,
body .elementor-menu-cart__container .elementor-menu-cart__main .wrap-bottom-mini-cart .buttons>a {
	letter-spacing: 0;
}

body .elementor-menu-cart__container .elementor-menu-cart__main .cart_list .mini_cart_item .wrap-product-cart-detail .cart-detail {
	color: #999999;
}
body .elementor-menu-cart__container .elementor-menu-cart__main .cart_list .mini_cart_item .wrap-product-cart-detail .cart-detail .amount,
body .elementor-menu-cart__container .elementor-menu-cart__main .wrap-bottom-mini-cart .total .amount {
	color: #28140C;
}


.woocommerce .elementor-widget-sidebar .elementor-widget-container ul li a,
.woocommerce .elementor-widget-sidebar .elementor-widget-container ul span.count,
.woocommerce ul.products li.product .wrap-product-loop-detail h3.product-loop-title > a {
	font-weight: normal !important;
}
.woocommerce .elementor-widget-sidebar .elementor-widget-container ul li.chosen a,
.woocommerce .elementor-widget-sidebar .elementor-widget-container h4,
.woocommerce .elementor-widget-sidebar .widget_price_filter .button {
	font-weight: bold !important;
}

input.sib-default-btn, {
	font-size: 18px !important;
}
.elementor-118005 .elementor-element.elementor-element-cb4773a .elementor-button {
	font-size: 16px !important;
}

/* font-family: "Playfair Display", serif */
.paragraphs_container h3,
.elementor-widget-heading .elementor-heading-title {
	font-family: "Playfair Display", serif !important;
}

body.product-template-default.single .product-pay-off {
	font-size: 1.2rem !important;
}

.paragraphs_container p,
.paragraphs_container ul > li {
	color: #575756;
}

.paragraphs_container h3 {
	font-weight: normal !important;
	color: #052f21;
	margin-bottom: 1rem;
}


/* loop woocommerce */
.woocommerce .wrap-product-loop-content .wrap-product-loop-detail {
	padding-top: 0px;
}
.woocommerce ul.products li.product h3.product-loop-title {
	margin-bottom: 0px !important;
}


/* Beste Sellers */
.elementor-widget-container h5.elementor-heading-title {
	font-family: "Proxima Nova", sans-serif !important;
	margin-bottom: .5rem;
}
.elementor-widget-container h3.elementor-heading-title {
	font-family: "Proxima Nova", sans-serif !important;
	font-size: 16px !important;
	line-height: 1.3;
}

/* Single woocommerce */

/*
	* badge promo
	* in stock
	* sku
*/
body.product-template-default.single .summary span.onsale,
.woocommerce .summary .zoo-new-label,
.woocommerce .summary .onsale,
.woocommerce .summary p.zoo-single-stock-label.stock,
.woocommerce .wrap-custom-meta {
	display: none !important;
}

.woocommerce .woocommerce-product-details__short-description p {
	padding-left: 0px;
	padding-right: 0px;
	line-height: 1.5;
	margin-bottom: 1rem !important;
}

.woocommerce div.product .summary.entry-summary form.cart button.single_add_to_cart_button {
	width: 100%;
	font-weight: bold;
}

.elementor-element.newsletter-title h3.elementor-heading-title {
	font-size: 22px !important;
}


#indicators_container.row {
	width: 100%;
}


.product-template-default .farchioni-brand {
  font-weight: normal;
  font-size: 2rem !important;
}



@media (min-width: 992px){
	.woocommerce div.product .summary.entry-summary .price_info {
		display: flex;
		margin-bottom: 0px;
		float: none;
	}

	.swiper-slide .swiper-slide-contents {
		max-width: 70% !important;
	}
}


@media (max-width: 992px){
/*
	.elementor-widget-heading .elementor-heading-title.elementor-size-default {
		font-size: 1.4em !important;
	}
*/

	.swiper-slide .elementor-slide-description {
		font-size: 22px !important;
	}
	.elementor-location-archive .elementor-widget-heading .elementor-heading-title {
		font-size: 2em !important;
	}
	body.product-template-default.single span.onsale {
		max-width: 200px;
	}
	.product-template-default .farchioni-brand {
		font-size: 1.2rem !important;
	}

}

.woocommerce ul.products li.product .wrap-product-img a.wrap-img {
	height: 200px !important;
	width: 200px !important;
	margin: 0 auto	!important;
}
@media (min-width: 992px) {
	.woocommerce ul.products li.product .wrap-product-img a.wrap-img {
		height: 280px !important;
		width: 100% !important;
	}
}
@media only screen and (max-width: 540px) {
	 .woocommerce ul.products li.product .wrap-product-img a.wrap-img {
    height: 170px !important;
		width: 100% !important;
	}
	/* menu che altrimenti potrebbe non vedersi */
	.elementor.elementor-118744.elementor-location-popup {
    display: block !important;
	}
}

.woocommerce ul.products li.product .wrap-product-img a.wrap-img>img {
	height: auto !important;
	min-height: auto !important;
}


.woocommerce div.product p.stock {
	display: none;
}

/* slider */
.elementor.elementor-102428 .elementor-section.elementor-top-section.animated {
/* 	display: block !important; */

}
.elementor-invisible {
	visibility: hidden !important;
}


/* sidebar  / post */
.elementor.elementor-102428 .elementor-section.elementor-top-section.animated,
.sidebar-mobile-toggle.animated.animated-fast,
.elementor-element-7b874f63.animated.fadeInUp {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
    animation-name: none;
}


/* social login */
.oneall_social_login{
	display: flex;
}

.oneall_social_login_label{
	margin:8px 15px 0 0;
	white-space: nowrap;
}


/* FIX form di login+registrazione */
.woocommerce-account form.woocommerce-form{
	display: flex;
	flex-direction: column;
}

.woocommerce-account #customer_login .u-column2{
	display: block !important;
}
@media (min-width: 992px){
	.woocommerce-account .wrap-account-form.enable-register #customer_login{
		width: 100%  !important;
		display: flex;
		border-right: none !important;
	}
}

/* topbar per utenti B2B*/

/** il prefisso jet- viene apposto in automatico **/

.user_group_118906 .f-top-bar,
.user_group_118906 .jet-pdt-menu,
.user_group_118906 .jet-d-none-en {
	display: none !important;
}

.f-top-bar--b2b,
.jet-pdt-menu--b2b {
	display: none !important;
}

.user_group_118906 .f-top-bar--b2b,
.user_group_118906 .jet-pdt-menu--b2b {
	display: flex !important;
}

/*prezzi  B2B*/
.wcb2b-tier_prices{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	margin-top: 5px;
	border-bottom: 1px solid #ededed;
}

.wcb2b-tier_prices li{
	 list-style: none;
   padding: 8px 5px;
   border-top: 1px solid #ededed;
}

/* nascondi spedizioni gratis per utenti B2B */
.user_group_118906 .free-shipping-required-notice,
.user_group_118906 span.onsale {
	display: none !important;
}

@media (max-width: 992px){
body.archive .farchioni-variation-cta {
	display: none !important;
}
}

.precheckout_text_btn a {
	white-space: nowrap;
}
