// Main menu
body .menu-main-menu-container {
    ul li a {
        font-family: $playfairFont;
        text-transform: uppercase;
        color: $brown;
        &:hover {
            color: $yellow;
        }
    }
}

// h2 inside the megamenu
body .f-mm-title h2.elementor-heading-title {
    font-family: $shimmer;
}

li[class^='menu-icon'] {
    a {
        // padding-left: 5px !important;
        &:before {
            @include transition();
            display: inline-block;
            padding: 0px 5px 0px 0px;
            position: relative;
            font-family: $clIcons;
            color: $brown;
            @include xd-font-size(18);
        }
        &:hover {
            &:before {
                color: $yellow;
            }
        }
    }

    &:hover{
        a:before{
            color: $yellow;
        }
    }
}

ul.jet-menu {
    li:hover {
        a.top-level-link:before {
            transition-property: all !important;
            transition-duration: 0ms !important;
            transition-timing-function: ease !important;
            transition-delay: 0s !important;
            -webkit-transition: all 0ms !important;
            background-color: $yellow;
        }
    }
}

.menu-icon-product {
    a.top-level-link:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        transform: scaleY(-1);
        background-color: $brown;
        -webkit-mask: url('../font-icons/clever-icon_carrello.svg') no-repeat center;
        mask: url('../font-icons/clever-icon_carrello.svg') no-repeat center;
    }
}
.menu-icon-gift {
    a.top-level-link:before {
        // font-family: $faIcons !important;
        // content: '\f06b';
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        background-color: $brown;
        -webkit-mask: url('../font-icons/fa-gift-solid.svg') no-repeat center;
        mask: url('../font-icons/fa-gift-solid.svg') no-repeat center;
    }
}
.menu-icon-help {
    a.top-level-link:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        transform: scaleY(-1);
        background-color: $brown;
        -webkit-mask: url('../font-icons/clever-icon_assistenza.svg') no-repeat center;
        mask: url('../font-icons/clever-icon_assistenza.svg') no-repeat center;
    }
}

.menu-icon-stopwatch {
    a.top-level-link:before {
        font-family: $faIcons !important;
        content: '\f2f2';
    }
}


.menu-item-hide {
    display: none !important;
}

.menu-item-xmass {
    a, a:before {
        color: #bf262e;
    }
}