// Top Bar
.f-top-bar {
    background-color: $background-color-green;
    p, .elementor-text-editor {
        color: $text-color-light;
        padding: 0;
        margin: 0;
        @include xd-font-size(17);
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}


.f-header {
    background-color: $white;

    // min height
    .elementor-container{
        min-height:80px;
    }
    
    // Reset headers button
    button, .f-product-search button, .f-search-button .elementor-button-link, a#elementor-menu-cart__toggle_button {
        @include reset-button();
    }

    // Desktop search
    .f-product-search {
        form {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: flex-start;
        }

        input[type="search"] {
            border: 0;
            padding: 0 0 0 5px;
            margin: 0;
            color: $brown;
            @include placeholder-color($brown);
            @include xd-font-size(18);
            font-family: $proximaRegular;
        }
        button {
            padding: 0;
            margin: 0;
            font-size: 0;
            font-weight: normal;
            background-color: rgba(0,0,0,0);
            &:before {
                @include transition();
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                transform: scaleY(-1);
                background-color: $brown;
                -webkit-mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
                mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
            }
            &:hover {
                &::before {
                    color: $yellow;
                }
            }
        }
    }

    // Mobile search
    .f-search-button {
        a {
            width: 35px;
            height: 35px;
            background-color: rgba(0,0,0,0);
            .elementor-button-content-wrapper {
                position: relative;
                bottom: 5px;
            }

            .fa-search:before {
                @include transition();
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                transform: scaleY(-1);
                background-color: $brown;
                -webkit-mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
                mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
            }
        }
        
    }

    // My account button
    .f-my-account {
        font-size: 0px;
        margin-right: 15px;
        &:after {
            @include transition();
            display: block;
            width: 22px;
            height: 22px;
            transform: scaleY(-1);
            content: '';
            background-color: $brown;
            -webkit-mask: url('../font-icons/clever-icon_account.svg') no-repeat center;
            mask: url('../font-icons/clever-icon_account.svg') no-repeat center;
        }
        &:hover {
            &:after {
                background-color: $yellow;
            }
        }
    }

    // Header Cart
    .elementor-widget-woocommerce-menu-cart.toggle-icon--cart-medium .elementor-menu-cart__toggle .elementor-button-icon {
        &::before {
            z-index: 1;
        }
    }
    .elementor-widget-woocommerce-menu-cart.toggle-icon--cart-medium .elementor-menu-cart__toggle .elementor-button-icon i {
        &::before {
            @include transition();
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            transform: scaleY(-1);
            background-color: $brown;
            -webkit-mask: url('../font-icons/clever-icon_carrello.svg') no-repeat center;
            mask: url('../font-icons/clever-icon_carrello.svg') no-repeat center;
            z-index: 0;
        }
        &:hover {
            &:before {
                background-color: $yellow;
            }
        }
    }

    .f-header-cart {
        border: 0;
        a {
            @include xd-font-size(24);
            @include bp-tablet {
                @include xd-font-size(18);
            }
            @include bp-mobile {
                @include xd-font-size(18);
            }
            padding: 0;
        }
    }

    // WPML - Hide current language
    li.wpml-ls-current-language {
        display: none;
    }

    // WPML - Menu style
    .wpml-elementor-ls {
        ul li {
            text-transform: uppercase;
            @include xd-font-size(20);
        }
        .wpml-ls-statics-shortcode_actions {
            padding: 0;
            border: 0;
        }
        ul li a {
            padding: 0;
            color: $brown !important;
            &:hover {
                color: $yellow !important;
            }
        }
    }

    .usermenu.elementor-column{
        .elementor-widget-wrap > .elementor-element{
            margin-right:15px;
            &:last-child{
                margin-right:0;
            }
        }
    }
}

.f-mobile-search {

    form.woocommerce-product-search{
        position: relative;

        input.search-field{
            width:100%;
            font-size: 16px;
        }

        button {
           position:absolute;
           top:5px;
           right:1px;
           width: 50px;
           line-height:38px;
           height:25px;
           overflow:hidden;
           border:0;
           background:$white;
           

           &:before {
            @include transition();
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            transform: scaleY(-1);
            background-color: $brown;
            -webkit-mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
            mask: url('../font-icons/clever-icon_ricerca.svg') no-repeat center;
        }
        }

        
    }

    .dialog-close-button.dialog-lightbox-close-button{
        position: absolute;
        bottom:15px!important;
        left:0!important;
        top:auto!important;
        right:auto!important;
        margin-left:50%;
        transform:translate(-50%, 0);
        padding: 5px 10px!important;

        &:after{
            content: "Chiudi";
            margin-left: 5px;
        }
    }
   
}


// sticky header, we show mobile menu on sticky desktop header
@media (min-width: 1025px){
    .f-header.elementor-sticky--active {

        box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);

        .elementor-container{
            min-height:40px;
        }

        .elementor-widget-jet-mega-menu.elementor-hidden-desktop,
        .f-mobile-menu-trigger.elementor-hidden-desktop {
            display: block;
        }

    }
}

@include bp-mobile {
    .f-mobile-menu-trigger.elementor-hidden-desktop {
        .elementor-widget-container {
            margin-right: 0!important;
        }
    }
}