#main-footer {
    .container {
        max-width: 1520px;
    }
}


body #site-footer #main-footer ul.footer-payment-images {
    width: 100%;
    max-width: 100px;
    li {
        padding: 0 !important;
        margin: 0 !important;
        display: inline-block;
        img {
            max-width: 48px;
            width: 100%;
        }
    }
}