i[class^='clever-icon']{
    &::before {
        font-family: $clIcons;
    }
}

/**
 * Ora puoi usare le icone da qui => https://doc.zooextension.com/cleverfonticon/ semplicemente chiamando nel codice html:
 * <i class="clever-icon-search-2"></i>
 */