.body {
    background-color: $background-color-light;
    @include xd-font-size(24);
    font-family: $proximaRegular;
    font-weight: 400;
}

button, input[type="button"], input[type="submit"], .elementor-button {
    font-family: $proximaRegular;
}

// Button hover
.farchioni-button {
    button, input[type="button"], input[type="submit"], .elementor-button {
        border-color: $yellow;
        position: relative;
        z-index: 2;
        &:before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #eacd76;
            z-index: -1;
            -webkit-transition: all .3s cubic-bezier(.25,.46,.45,.94);
            -moz-transition: all .3s cubic-bezier(.25,.46,.45,.94);
            -ms-transition: all .3s cubic-bezier(.25,.46,.45,.94);
            -o-transition: all .3s cubic-bezier(.25,.46,.45,.94);
            transition: all .3s cubic-bezier(.25,.46,.45,.94);
        }
        &:hover:before {
            height: 100%;
        }
    }
    
    // Button arrow
    button, input[type="button"], input[type="submit"], .elementor-button {
        &:after {
            font-family: $faIcons;
            content: '\f054';
            font-size: 12px;
            margin-left: 5px;
        }
    }
}

body {
    font-family:$proximaTh;
}

body strong, body b {
    font-family:$proximaRegular;
}

a {

    &:hover {
        color: $yellow;
    }
}

label{
    color: $brown;
    font-family: $proximaRegular;
}
input:not([type="button"]):not([type="submit"]), textarea, .elementor-field-textual, select {
    // TODO: watchout to check the header search form after
    border-style: solid;
    border-width: 1px;
    border-color: $white-darker;
    color: $brown;
    background:$white;
    @include placeholder-color($grey);

    &:focus {
        border-color: $yellow;
        font-family: $proximaRegular;
    }
}

// Button element
body .elementor-widget-button .elementor-button {
    color: $text-color-light;
    background-color: $green;
}

// pallini slider
body{
    .swiper-pagination-bullet{
        width:13px;
        height:13px;
        margin: 0 4px;
        background: $white;
        opacity:1;
    }
}

// change Jetmenu (crocoblocks) mobile menu icons (this menu has been removed as it is no compatible with WPML
.jet-mobile-menu{

    .jet-mobile-menu__container{

        i.fas{
            font-family: $clIcons;
            font-weight:300;
    
            // close button
            &.fa-times{
                &:before{
                    content:"\c213";
                }
            }
    
            // angle right (forward button)
            &.fa-angle-right{
                &:before{
                    content:"\c151";
                }
            }

            // angle left (back button)
            &.fa-angle-left{
                &:before{
                    content:"\c155";
                }
            }
    
    
        }

    }
    

    // close menu button
    .jet-mobile-menu__back{
        .fas.fa-times{
            
            &:before{
                content:"\c213";
            }
        }
    }

    .fas.fa-angle-right{
        font-family: $clIcons;
        font-weight:300;
        &:before{
            content:"\c151";
        }
    }

}