// Sidebar background - Default
.woocommerce .farchioni-sidebar-background {
    background-color: $green;
    border-radius: 5px;
}

// Sidebar background - Olio
.woocommerce.farchioni-category-olio .farchioni-sidebar-background,
.woocommerce.farchioni-category-oils .farchioni-sidebar-background {
    background-color: $product-olio-sidebar;
}

.woocommerce{
    // Sidebar background - Olio
    &.farchioni-category-olio,
    &.farchioni-category-oils{
        .farchioni-sidebar-background {
            background-color: $product-olio-sidebar;
        }
    } 
    // Sidebar background - Birra
    &.farchioni-category-birra, 
    &.farchioni-category-beers{
        .farchioni-sidebar-background {
            background-color: $background-sidebar-birra;
        }
    }
    // Sidebar background - Vino
    &.farchioni-category-vino, 
    &.farchioni-category-wines{
        .farchioni-sidebar-background {
            background-color: $brown;
        }
    }
}

// Sidebar background - Idee Regalo
.woocommerce.farchioni-category-idee-regalo .farchioni-sidebar-background,
.woocommerce.farchioni-category-gift-ideas .farchioni-sidebar-background {
    background-color: $white-dark;
    border: 1px solid $white-darker;
}


// Widget title - Default
.woocommerce .elementor-widget-sidebar .elementor-widget-container h4 {
    color: $white;
    text-transform: uppercase;
    font-family: $proximaAltRg;
    font-weight: 300;
    @include xd-font-size(18);
}

// Widget title - Birra e Idee Regalo
.woocommerce.farchioni-category-birra .elementor-widget-sidebar .elementor-widget-container h4,
.woocommerce.farchioni-category-beers .elementor-widget-sidebar .elementor-widget-container h4,
.woocommerce.farchioni-category-idee-regalo .elementor-widget-sidebar .elementor-widget-container h4, 
.woocommerce.farchioni-category-gift-ideas .elementor-widget-sidebar .elementor-widget-container h4 {
    color: $brown;
}

// Widget list - Default
.woocommerce .elementor-widget-sidebar .elementor-widget-container ul {
    li {
        margin: 0px 0px 2px 0px;
    }
    li:not(.chosen) {
        a:before {
            font-family: $faIcons;
            font-size: 12px;
            content: '\f111';
            display: inline-block;
            color: $yellow;
            margin-right: 10px;
        }
    }
    li.chosen {
        a:before {
            color: $yellow;
            margin-right: 10px;
        }
    }
    li a {
        color: $yellow;
        margin: 0px 0px 0px 0px;
        font-family: $proximaAltLt;
        font-weight: bold;
        @include xd-font-size(14);
        text-transform: capitalize;
    }
    span.count {
        font-family: $proximaAltLt;
        color: $yellow;
        font-weight: bold;
        @include xd-font-size(14);
    }
    @media (max-width: 767px){
        li a,
        span.count{
            @include xd-font-size(16);  
        } 
    }
}

// Widget list - Birra
.woocommerce.farchioni-category-birra .elementor-widget-sidebar .elementor-widget-container ul,
.woocommerce.farchioni-category-beers .elementor-widget-sidebar .elementor-widget-container ul {
    li:not(.chosen) {
        a:before {
            color: $white-dark;
        }
    }
    li.chosen {
        a:before {
            color: $white-dark;
        }
    }
    li a {
        color: $white-dark;
    }
    span.count {
        color: $white-dark;
    }
}

// Widget list - Idee Regalo
.woocommerce.farchioni-category-idee-regalo .elementor-widget-sidebar .elementor-widget-container ul,
.woocommerce.farchioni-category-gift-ideas .elementor-widget-sidebar .elementor-widget-container ul {
    li:not(.chosen) {
        a:before {
            color: $brown;
        }
    }
    li.chosen {
        a:before {
            color: $brown;
        }
    }
    li a {
        color: $brown;
    }
    span.count {
        color: $brown;
    }
}

// Widget filter price - Default
.woocommerce .elementor-widget-sidebar .widget_price_filter {
    .price_slider {
        background-color: $white-darker;
    }
    .ui-slider-range {
        background-color: $yellow;
    }
    .ui-slider-handle {
        background-color: $white;
        border: 2px solid $yellow;
    }
    .price_label {
        color: $brown;
        font-family: $proximaRegular;
        float:left;
        @include xd-font-size(14);
        .from, .to {
            @include xd-font-size(14)
        }
    }
    .from, .to {
        font-weight: bold;
    }
    .button {
        background-color: $yellow;
        padding: 0px 10px;
        font-size: 14px;
        line-height: 28px;
        float:right;
        @include transition();
        &:hover {
            background-color: $white;
            color: $yellow;
        }
    }
}

// Widget filter price - Birra e Idee Regalo
.woocommerce.farchioni-category-birra .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-beers .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-idee-regalo .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-gift-ideas .elementor-widget-sidebar .widget_price_filter {
    .ui-slider-range {
        background-color: $brown;
    }
    .ui-slider-handle {
        border: 2px solid $brown;
    }
    .button {
        background-color: $brown;
        &:hover {
            color: $yellow;
        }
    }
}

// Widget filter price - olio, birra, vino
.woocommerce.farchioni-category-olio .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-oils .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-birra .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-beers .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-vino .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-wines .elementor-widget-sidebar .widget_price_filter {
    .price_label {
        color: $white;
    }
}

.woocommerce.farchioni-category-idee-regalo .elementor-widget-sidebar .widget_price_filter,
.woocommerce.farchioni-category-gift-ideas  .elementor-widget-sidebar .widget_price_filter {
    .price_label {
        color: $brown;
    }
}

.open-mobile-sidebar {
    max-width: 220px;
}

// mobile sidebar
@include bp-tablet() {
    .sidebar-mobile-toggle {
        position: fixed!important;
        top: 0;
        left: 0;
        max-width: 80%;
        left: -150%;
        z-index: 100;
        overflow-y: scroll;
        min-height: 100vh;
        height: 100%;
        display: block;
        @include transition();
    }

    body.sidebar-mobile-toggle-active {
        .sidebar-mobile-toggle {
            left: 0;
        }
        &:before {
            z-index: 9;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1000%;
            background-color: rgba($brown, 0.6);
            content: '';
            cursor: w-resize;
        }
    }
}

// .sidebar-mobile-toggle .elementor-column-wrap {
//     height: 100%;
// }

@include bp-mobile() {
    // Sidebar background - Default
    .woocommerce .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
        background-color: $green;
        border-radius: 5px;
    }

    // Sidebar background - Olio
    .woocommerce.farchioni-category-olio .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
        background-color: $product-olio-sidebar;
    }

    .woocommerce{
        // Sidebar background - Olio
        &.farchioni-category-olio,
        &.farchioni-category-oils{
            .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
                background-color: $product-olio-sidebar;
            }
        } 
        // Sidebar background - Birra
        &.farchioni-category-birra, 
        &.farchioni-category-beers{
            .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
                background-color: $background-sidebar-birra;
            }
        }
        // Sidebar background - Vino
        &.farchioni-category-vino, 
        &.farchioni-category-wines{
            .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
                background-color: $brown;
            }
        }
        &.farchioni-category-idee-regalo, 
        &.farchioni-category-gift-ideas {
            .sidebar-mobile-toggle .elementor-column-wrap .elementor-widget-container {
                background-color: $white-dark;
            }
        }
    }
}