// $product-border-color: $white-darker;
// $product-pre-title-color: $brown;
// $product-title-color: #104633;
// $product-price-color: #104633;
// $product-variation-color: $grey;
// $product-variation-border-color: $white-darker;

.woocommerce ul.products {
    width: 100%;
}

#top-shop-loop {
    display: none;
}

.woocommerce ul.products .wrap-product-img {
    margin-bottom: 0;
}
 
.woocommerce ul.products li.product .wrap-product-img a.wrap-img {
    position: relative;
    height: 280px;
    width: 100%;
    overflow:hidden;
    margin-bottom:15px;
    background: $white;
    > img{
        object-fit: cover;
        width: 100%;
        max-width:none;
        height:100%;
        min-height:100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate( -50%, -50%);
    }
}

.woocommerce ul.products .wrap-product-loop-content, .woocommerce ul.products .wrap-product-img {
    position: initial;
    text-align: center;
}

// Box
.woocommerce ul.products li {
    border: 1px solid $product-border-color;
    position: relative;
    padding: 20px !important;
    background:$white;

    &:hover{
        border-color: $yellow;
    }

    // out of stock product in loop
    &.outofstock{
        opacity:0.5;

        //  Out of stock badge
        .out-stock-label.zoo-stock-label {
            top: 0;
            right: 0;
            background-color: $brown !important;
            border: 0;
            box-shadow: none;
            padding: 2px 10px 0 10px;
            height:32px;
            line-height: 30px;
            font-family: $proximaAltLt;
            color: $yellow !important;
            font-size: 0.8em;
        }
        // hide promom label if out of stock
        .wrap-product-img .onsale{
            display: none;
        }

        &:hover{
            .zoo-stock-label{
                opacity:1;
            }
        }
    }
}

// Title
.woocommerce ul.products li.product .wrap-product-loop-detail {
    h3.product-loop-title {
        > a {
            color: $product-title-color;
            @include xd-font-size(20);
            @media (max-width: 767px){
                @include xd-font-size(17); 
            }
            font-weight: bold;
            font-style: italic;
            font-family: $proximaAltLt;
            &:hover {
                color: $product-title-color;
                text-decoration: underline;
                }
        }
    }
}

// Price
.woocommerce ul.products li .wrap-product-loop-detail {
    span.price {
        
        @include xd-font-size-important(28);
        
        padding-top: 13px;
        @media (max-width: 767px){
            padding-top: 0px;
        }
        font-family: $playfairFont !important;
        
        small.woocommerce-price-suffix {
            display: none;
        }
        
        del, ins, span {
            color: $product-price-color;
        }

        margin-bottom: 0;
    }
}

// Sale
.woocommerce ul.products li.product span.onsale {
    border: 0;
    box-shadow: none;
    top: 0;
    left: 0;
    padding: 2px 10px 0 10px!important;
    height:32px;
    line-height:30px;
    @media (max-width: 767px){
        padding: 1px 5px 0 5px!important;
        height:22px;
        line-height:22px;    
    }
    background-color: $product-sale-background-color;
    color: $product-sale-text-color;
    font-weight: bold;
    font-family: $proximaRegular;
    display: block;
    font-size: 1em;
}

// Product variation cta
.woocommerce ul.products li.product div.farchioni-variation-cta {
    span.variation a {
        display: inline-block;
        border: 1px solid $product-variation-border-color;
        padding: 5px 10px;
        margin: 5px;
        color: $product-variation-color;
        @include xd-font-size(12);
        font-family: $proximaRegular;
        font-weight: bold;
        &:hover{
            border-color:$yellow;
        }
    }
    margin: 0 0 15px 0px;
}

// Product brand
.woocommerce ul.products li.product div.farchioni-brand {
    color: $product-brand-color;
    @include xd-font-size(14);
    font-family: $proximaRegular;
    font-weight: bold;
    text-transform: uppercase;
}

// Header - Hide filters and show grid-list available in archive page
.woocommerce .elementor-wc-products .left-top-shop-loop {
    display: none;
}



// Columns per row table
@include bp-tablet {
    .archive .elementor-element.elementor-products-grid ul.products {
        grid-template-columns: repeat(3,1fr);
    }
}

// Columns per row mobile
@include bp-mobile {
    .archive .elementor-element.elementor-products-grid ul.products {
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px !important;
        grid-row-gap: 10px !important;
    }
    .woocommerce ul.products li.product .wrap-product-img a.wrap-img {
        height: 150px;
    }

    .woocommerce ul.products li {
        padding: 5px !important;
        overflow: hidden !important;
        font-size: 10px;
    }
    .woocommerce ul.products li.product div.farchioni-brand{
        @include xd-font-size(8);
    }
    .woocommerce ul.products li .wrap-product-loop-detail h3.product-loop-title a {
        @include xd-font-size(18);
    }
    .woocommerce ul.products li .wrap-product-loop-detail {
        span.price {
            @include xd-font-size-important(18);
        }
    }
}


// Best Sellers block
.elementor-element .elementor-post.product{

    position:relative;

    &.product_cat-olio,
    &.product_cat-oils{

        .best-bg > .elementor-column-wrap{
            background-color: $product-title-color;
        }
    }
    &.product_cat-vino,
    &.product_cat-wines{}

    &.product_cat-birra,
    &.product_cat-beers{
        .best-bg > .elementor-column-wrap{
            background-color: $background-sidebar-birra;
        }
    }

}

@include bp-tablet() {
    .woocommerce li.product .out-stock-label {
        visibility: visible !important;
        height: 18px !important;
        line-height: 18px !important;
        padding: 0px 5px 0px 5px !important;
        @include xd-font-size-important(10);
    }
}