
body.admin-bar .elementor-menu-cart__container{
    top:32px;
    height:calc( 100vh - 32px );

    @media only screen and (max-width:782px) {
        top:46px;
        height:calc( 100vh - 46px );
    }
}


body .elementor-menu-cart__container{

    .elementor-menu-cart__main{

        padding: 40px 15px 30px 15px;

        &:before{
            content: "Carrello";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: $green-lighter;
            height: 50px;
            color: $white;
            font-family: $playfairFont;
            font-size: 21px;
            text-transform: uppercase;
            line-height: 50px;
            padding: 0 10px;
        }
    
        .elementor-menu-cart__close-button{

            margin: -40px 0 0 0;
            height:30px;
            line-height: 30px;
            width:50px;
            padding:25px;

            &:before,
            &:after{
                background-color:$white;
                width:60%;
                left:10px;
            }
            &:hover:before,
            &:hover:after{
                background-color:$orange;
            }


        }
        
        // product list in mini-cart
        .cart_list{

            height: calc(100% - 230px);
            overflow: hidden;
            overflow-y: scroll;
            padding: 0 !important;
            width: 100%;
            display: inline-block;
            margin:0;

            /* width */
            &::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background:$white;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background:$white-darker;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $white-darker;
            }


            .mini_cart_item{
                margin-bottom:10px;
                padding-bottom:15px;
                margin-top:0px;
                padding-top:10px;
                border-bottom:1px solid $white-darker;
                position: relative;
                overflow: hidden;

                // pulsnte rimuovi prodotto
                > a.remove{
                    position: absolute;
                    top:10px;
                    right:10px;
                    color: $brown!important;
                    font-size: 14px;
                    &:hover{
                        color:$orange!important;
                        background-color: $white;
                    }
                }

                // img prodotto
                .wrap-product-thumb{
                    float:left;
                    display:inline-block;
                    width:90px;

                    > a img{
                        width:100%;
                        height:auto;
                    }
                }

                .wrap-product-cart-detail{
                    width: calc(100% - 90px);
                    padding-top: 0px;
                    padding-left: 15px;
                    display: inline-block;
                    text-align: left;

                    .brand{
                        font-family: $proximaRegular;
                        color:$yellow;
                        text-transform: uppercase;
                    }
                    .product-widget-title{
                        margin: 0 0 10px 0;
                        padding: 0 25px 0 0;
                        line-height: 1;

                        a{
                            font-size: 16px;
                            color:$brown;
                            font-weight:300;
                            font-family: $proximaRegular;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }

                    .cart-detail{

                        font-family: $proximaRegular;

                        p{
                            margin-bottom:5px;
                        }
                       
                        .amount{
                            font-family: $playfairFont;
                            float:right;
                            margin-right:10px;

                        }
                    }
                }

            }

        }


       

        .wrap-bottom-mini-cart{
            @include bp-mobile() {
                padding-bottom: 70px;
            }
            .total{
                font-family: $proximaRegular;
                margin-bottom:10px;
                .amount{
                    font-family: $playfairFont;
                    font-weight:600;
                    font-size: 130%;
                }
            }

            .buttons{
                > a {
                    width:50%;
                    float:left;
                    display: inline-block;
                    background-color: $yellow;
                    color:$brown;
                    font-family: $proximaRegular;
                    font-weight: 400;;
                    border:0;
                    font-size: 16px;
                    padding: 5px 0;
                    text-align:center;
                    line-height: 30px;
                    margin-bottom:0;

                    &:hover{
                        background-color:$link-hover;
                        color:$brown;
                    }

                    &.checkout{
                        background-color: $green;
                        color:$white;
                        &:hover{
                            background-color: $green-hover;
                        }
                    }
                }
            }
        }
        

    }
}
body.current_lang_en .elementor-menu-cart__container .elementor-menu-cart__main:before{
    content:"Cart";
}


 // free shipping notice
.over_total,
.cart_totals {

    .free-shipping-required-notice{
        .zoo-loading-bar{
            height:auto;
            background-color:$white-darker;
            .load-percent{
                background-color: $yellow;
            }
            .label-free-shipping{
                padding:10px 15px;
                font-size: 16px;
                color:$brown;
                font-family: $proximaRegular;
                .amount{
                    font-family: $playfairFont;
                    font-weight:600;
                }
            }
        }
    }
}

body #products-in-cart-hide {
    display: none !important;
}