/*
        Gravity Forms in Elementor
*/

body .elementor-element .gform_wrapper{

    margin:0;

    ul li.gfield{
        margin:0 0 30px 0;
        padding:0;

        // 2 and 3 cols form
        &.gf_left_half,
        &.gf_right_half,
        &.gf_left_third,
        &.gf_middle_third,
        &.gf_right_third{
            margin:0 0 30px 0;
        }
        @media (min-width:641px) {

            &.gf_left_half{
                padding-right: 15px
            }
            &.gf_right_half{
                padding-left: 15px;
                padding-right:0;
            }

            &.gf_left_third{
                padding-right:20px;
            }
            &.gf_middle_third{
                padding-left:10px;
                padding-right:10px;
            }
            &.gf_right_third{
                padding-left:20px;
            }            
            
        }

        // field containers with top labels
        .ginput_container{
            margin:0;
        }

        // password toggle visibility icon
        .ginput_container.ginput_container_password span {
            color: $brown;
        }

        // indicatore sicurezza password
        .gfield_password_strength{
            margin-top:0;
            margin-bottom:0;
            line-height: 10px;
        }


    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
        padding:10px;
        background-color: $white;
        border:1px solid $white-darker;
        border-radius:0;
        color:$brown;
        line-height:30px;
        margin:0;
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus{
        border:1px solid $yellow;
    }
    
    li.hidden_label .ginput_container_select {
        margin-top: 0px;
    }
    select:focus {
        // background: $white;
        border:1px solid $yellow;
    }

    li .ginput_container{
        position: relative;
    }

    li .ginput_container_select:after{
        content: "\2039";
        position: absolute;
        right: 35px;
        top: 25px;
        color: $brown;
        opacity:0.7;
        font-size: 40px;
        line-height: 40px;
        height: 40px;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        font-weight: 100;
    }

    &.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select, 
    &.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select, 
    &.gf_browser_chrome ul.gform_fields li.gfield select{
        margin:0;
    }

    select{
        padding: 0 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color:$white;
        border:1px solid $white-darker;
        border-radius:0;
        height:40px;
        option.gf_placeholder{
            text-transform: uppercase;
        }
    }

    // select wth simplified inferface (chosen)
    .chosen-container{

        &.chosen-container-single{
            a.chosen-single{
                height:40px;
                line-height:38px;
                background:$white;
                border:1px solid $white-darker;
                border-radius:0;
                box-shadow:none;
                font-size:18px;

                span{
                    margin-right:40px;
                }
                div > b {
                    visibility: hidden;
                }
            }
        }

        .chosen-drop{
            border:1px solid $white-darker;
            border-radius:0;
            box-shadow: none;
        }

    }

    /* text area */
    li .ginput_container_textarea textarea {
        background-color: $white;
        border:0;
        border:1px solid $white-darker;
        padding:10px;
        margin-bottom:0;
    }
    li .ginput_container_textarea textarea:focus {
        background: $white;
        border:1px solid $yellow;
    }

    // checkbox
    .ginput_container_checkbox{

        .gfield_checkbox{
            li{
                input[type="checkbox"]{
                    border:0;
                }
                label{
                    color:$white;
                    border:0;

                    a{
                        color:$yellow;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

            }
        }

    }

    .gfield.dark-text .ginput_container_checkbox{
        li label{
            color:$brown;
        }
    }

    //centered iput
    li.gfield.center{
        text-align: center;
    }

    // consent line
    li.gfield.consent{
        margin-top:-15px;
    }

    li.gfield.gfield_error + li.gfield.consent{
        margin-top:10px;
    }

    

    /* submit button */
    .gform_footer{
        padding:0;
        margin:0;
        text-align:center;
    }
    .gform_footer input.button, 
    .gform_footer input[type=submit], 
    .gform_page_footer input.button, 
    .gform_page_footer input[type=submit]{
        margin:0;
        color:$yellow;
        border-color:$yellow;
        border-radius:0;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 200;
        padding:.5rem 2rem;
        border:0;
        border-bottom:2px solid $yellow;
        background:none;

        -webkit-transition: background-color 300ms ease-in-out;
        -moz-transition: background-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out;
       
    }
    .gform_footer input.button:hover, 
    .gform_footer input[type=submit]:hover, 
    .gform_page_footer input.button:hover, 
    .gform_page_footer input[type=submit]:hover{
        background: $yellow;
        color:$brown;
        cursor:pointer;
    }

    .field_description_below .gfield_description{
        padding-top: 5px;
        padding-left: 5px;
    }


    /* gravity forms errors classes */
    li.gfield.gfield_error.gfield_contains_required label.gfield_label{
        margin-top:0;
    }


    li.gfield.gfield_error {

        .gfield_label{
            color:$brown;
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea{
            border:1px solid $brown;
        }

        div.ginput_complex.ginput_container label, 
        ul.gfield_checkbox, 
        ul.gfield_radio{
            color:$brown;
        }
        &.gfield_contains_required div.ginput_container,
        &.gfield.consent{
            margin-top:0;
        }

        &:not(.gf_left_third):not(.gf_middle_third):not(.gf_right_third):not(.gf_left_half):not(.gf_right_half){
            max-width:100%!important;
        }

        &.gf_left_half,
        &.gf_right_half{
            width:50%!important;
            max-width:50%!important;
        }
        &.gf_middle_third,
        &.gf_left_third,
        &.gf_right_third{
            width:33.3%!important;
            max-width:33.3%!important;
        }
        
        &.gfield_visibility_visible,
        &.gf_left_half,
        &.gf_right_half,
        &.gf_left_third,
        &.gf_middle_third,
        &.gf_right_third {

            border-top: 0px solid #c89797;
            border-bottom: 0px solid #c89797;
            padding:10px 10px 10px 10px!important;
            background-color: $product-sale-background-color;
            margin-right:0;

            a {
                color: #000;
            }

            .validation_message{
                color:#fff;
                &.gfield_description{
                    margin-top:5px;
                    font-weight:300;
                }
            }
        }

    }

    div.validation_error{
        color:#fff;
        background-color:$product-sale-background-color;
        border:none!important;
    }  

}


/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    body .elementor-element .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    body .elementor-element .gform_wrapper li.hidden_label .ginput_container_select{
        font-size:16px;
    }
}
/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    body .elementor-element .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    body .elementor-element .gform_wrapper li.hidden_label .ginput_container_select{
        font-size:16px;
    }
}
/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    body .elementor-element .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    body .elementor-element .gform_wrapper li.hidden_label .ginput_container_select{
        font-size:16px;
    }
}
/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    body .elementor-element .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    body .elementor-element .gform_wrapper li.hidden_label .ginput_container_select{
        font-size:16px;
    }
}



/*
       sendinblue newsletter form
*/
body .elementor-element .sib_signup_form{


    .sendinblue_container > .sib-email-area{
        display: block;
        position: relative;
        &:after{
            position: absolute;
            content:"";
            bottom:-3px;
            left:0;
            width:100%;
            height:3px;
            opacity:0.35;
            background-color: $white-darker;
        }
        // border-bottom:3px solid $white-darker;
        margin: 25px 0px;

        input.sib-email-area{
            float:left;
            width:calc( 100% - 100px );
            border:0;
            font-size: 18px;
            color:$white;
            font-style: italic;
            margin-bottom:0;
            -webkit-appearance: none;
            background: transparent;
            

            &:focus {
                background:#000;
            }
        }
        input.sib-default-btn{
            float:right;
            width:100px;
            height: 40px;
            border:0;
            background:transparent;
            color: $yellow;
            -webkit-appearance: none;
            font-size: 22px;

            &:hover{
                background-color: $black;
                cursor:pointer;
            }

            &.fontawesome{
                font-family: $faIcons;
            }
            &.cleversoft{
                font-family: $clIcons;
            }

        }

       

        ::-webkit-input-placeholder { /* Edge */
            color: #fff;
            font-style: italic;
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
            font-style: italic;
          }
          
          ::placeholder {
            color: #fff;
            font-style: italic;
          }
    }

    .sendinblue_container .nl_disclaimer{
        color:$white;
        font-size:13px;
        a {
            color:$yellow;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


// Woocommerce registration form 
.woocommerce form.woocommerce-form-register .form-row{

    label{
        font-family: $proximaAltTh;
    }
    &.checkbox{
        margin-bottom:20px;
        overflow:hidden;
        label{
            
            input{
                float: left;
                display: inline-block;
            }

            > span {
                float: right;
                width: calc( 100% - 25px );
                line-height: 1.2em;
                
            }

            input:checked + span {
                font-family: $proximaRegular;
            }
        }
    }
}