html {
    font-size: 14px !important;
}

@include bp-tablet {
    html {
        font-size: 16px !important;
    }
}

@include bp-mobile {
    html {
        font-size: 16px !important;
    }
}

body a, 
body a:visited{
    color:$yellow;

    &:hover{
        color:$link-hover;
    }
}

// fuor da elementor, pagine standard
body:not(.elementor-page) .main-content >.container{

    h1.the-title{
        font-family: $playfairFont;
        color:$brown;
    }

    .page-content{
         h1,
         h2,
         h3{
            font-family: $playfairFont;
            color:$brown;
            b,
            strong{
                font-family: $playfairFont;
            }
        }
    }
   

}

table.shipping_table_resume_desktop, table.shipping_table_resume_desktop tr, table.shipping_table_resume_desktop td,
table.bordered, table.bordered tr, table.bordered td {
    border: 1px solid $inputFocus;
}