/*
    Recensioni verificate in pagina singolo prodotto
*/
#tab-reviews.farchioni-reviews-tab{
    padding-top: 30px;
    width:100%;
    overflow: hidden;

    #txt_netreviews_container{
        #netreviews_reviews_tab{
            margin:0;
            max-width:100%;
            #netreviews_rating_section{
                background: $white-dark;
                border:0;
                .netreviews_rating_header,
                .netreviews_rating_content,
                .netreviews_filtering_section{
                    display: none;
                }

                #ajax_comment_content{

                    display: block;
                    width:100%;
                    clear:both;
                    overflow: hidden;

                    > div{
                        float: left;
                        display: block;
                        font-family: $proximaTh !important;

                        width:50%;

                        &:nth-of-type(2n+1){
                            clear:left;
                        }    
                    
                        @include bp-mobile {
                            width:100%;
                            clear:both;
                        }

                        .netreviews_review_part{
                            width:100%;
                            padding: 50px 40px 50px 40px;
                            margin-bottom:10px;
                            font-family: $proximaTh !important;
                            position: relative;
                            border:0;

                            .netreviews_review_rate_and_stars{
                                position: absolute;
                                top: 20px;
                                left:40px;
                                font-size:18px;

                                .nr-icon:before{
                                    color: $inputFocus !important;
                                }

                                .netreviews_reviews_rate{
                                    left:95px;
                                    color:$grey;
                                    font-size: 16px;
                                }
                            }

                            .netreviews_customer_name{
                                position: absolute;
                                bottom: 20px;
                                left:40px;
                                font-family: $proximaRegular !important;
                                font-size: 18px;
                                font-weight: 500;

                                > span{
                                    display:none;
                                }
                            }

                            .netreviews_customer_review{
                                font-family: $proximaTh !important;
                                font-size: 18px;
                                line-height: 30px;
                            }

                        }
                    }

                }

                #netreviews_button_more_reviews{
                    display: block;
                    width:100%;
                    clear:both;
                    overflow: hidden;
                    padding: 20px 0 20px 0;


                    .netreviews_button{
                        background: $white-dark!important;
                        color: $grey;
                        border-radius:0;

                        &:hover{
                            background: $white-dark!important;
                            text-decoration:underline!important;
                        }

                        &.active{
                            opacity:0.3;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}

// badges
.volpetti_av_widget_desktop{
    display: none;
}
.volpetti_av_widget_mobile{
    display:none;
}

// #footer-credits{

//     padding: 17px 0;
//     @include bp-tablet{
//         padding: 0;
//     }
//     @include bp-mobile{
//         padding: 0 0 80px 0;
//     }
//     .elementor-widget-container{
//         width:calc( 100% - 160px );
//         @include bp-mobile{
//             width:100%;
//         }
//     }
// }

// hide start in product list
.products {
    li.product {
        .netreviews_bg_stars_big {
            display: none;
        }
    }
}